<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/app.css">
  <title>Course Goals</title>
</head>

<body>
  <h2><%= title %></h2>
  <div>
    <form action="/add-goal" method="POST">
      <input type="text" name="new-goal" />
      <button type="submit">Add Goal!</button>
    </form>
  </div>
  <ul>
    <% for (let i = 0; i < goals.length; i++) { %>
    <li>
      <a href="<%= goals[i].id %>"><%= goals[i].name %></a>
    </li>
    <% } %>
  </ul>
</body>

</html>